$form-color: #888888;
$form-background: #f2f2f2;
$form-border: 1px solid transparent;
$form-height: 40px;
$form-size: 1rem;
$form-group-margin: 1rem;
$form-padding: 5px 10px;

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 40px 35px 30px;
    padding: 50px;
    @media screen and( max-width: 768px) {
        width: 80%;
       padding-top: 50px;
        padding-bottom: 50px;
    }
    @media screen and( max-width: 568px) {
                     width: 100%;
                }
    &-body {
        width: 80%;
        margin-right: 45px;
        display: flex;
        justify-content: flex-end;
        align-items: center ;
        @media screen and( max-width: 768px) {
            display: flex;
        justify-content: center;
             margin-right: 0;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    &-title {
        color: #5363db;
        font-family: "Open Sans";
        font-size: 26px;
        font-weight: 400;
    }
    &-holder {
        margin-right: 45px;

        width: 60%;

        @media screen and( max-width: 768px) {
            margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    &-group {
        width: 100%;
        margin-bottom: $form-group-margin;
        &:last-child {
            padding-top: 21px;
            display: flex;
            justify-content: flex-end;
            margin: 0;
        }
    }
    &-control {
        margin: 0;
        border-radius: 0;
        font: inherit;
        display: block;
        width: 100%;
        height: $form-height;
        padding: $form-padding;
        background-color: $form-background;
        border: $form-border;
        color: $form-color;
        border-radius: 8px;


        &:focus {}
        &::placeholder {}
    }
    &-select {}
    &-radio {}
    &-checkbox {}
    &-file {}
}

textarea.form-control {
    height: auto;
    resize: vertical;
}