$navbar-breakpoint: 768px;

.navbar {
    display: flex;
    justify-content: space-between;
 

    &-brand {
        display: flex;
        align-items: center;
                @media screen and( max-width:$navbar-breakpoint ) {
              padding-top: 20px;
              padding-bottom: 20px;
         } 
        img {
            display: block;
            width: 100%;
        }
    }
    &-nav {

        top: 0;
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: flex;
        padding-bottom: 43px;
        padding-top: 43px;
    }
    &-item {
        padding-left: 30px;
        &:first-child {
            padding-left: 0;
        }
    }
    &-link {
        color: $third-color;
        font-family: $global-font-family;
        font-size: 17px;
        font-weight: 400;
        text-decoration: none;
        padding-bottom: 5px;
        position: relative;
        &:hover {
            color: #5363db;

            &::before,
            & ::after {
                position: absolute;
                top: 100%;
                left: 30%;
                width: 40%;
                height: 1px;
                background: #5363db;
                content: '';
                -webkit-transition: -webkit-transform 0.3s;
                -moz-transition: -moz-transform 0.3s;
                transition: transform 0.3s;
                -webkit-transform: scale(0.85);
                -moz-transform: scale(0.85);
                transform: scale(0.85);
            }
        }
    }





    &-toggler {
        display: block;
        padding: 7px 5px 5px;
        border: 1px solid $first-color;
        border-radius: 2px;
        width: 42px;
        height: 32px;
       position: absolute;
       right: 0;
        margin-top: 35px;
        margin-right: 20px;
         @media screen and( max-width:$navbar-breakpoint ) {
              float: right;
         } 

        .ico-bar {
            display: block;
            width: 30px;
            border-top: 2px solid $first-color;
            height: 3px;
            margin-bottom: 4px;
            &:last-child {
                margin-bottom: 0;
            }
             }
            @media all and (min-width: $navbar-breakpoint) {
                display: none;
            }
       
    }
    &-collapse {
         &.collapse {
            display: block;
            width: 100%;
            display:flex;
            flex-direction:column;
            justify-content: center;
            .navbar-nav {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            @media all and (min-width: $navbar-breakpoint) {
                display: flex;
                .navbar-nav {
                    flex-direction: row;
                }
            }
        }

        @media all and (max-width: ($navbar-breakpoint - 1px)) {
            display: none;
        }
    }
}



.navbar-link {
    color: $third-color;
    font-family: $global-font-family;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
}