$navbar-breakpoint:    768px;

.navbar {
	display: flex;
	justify-content: space-between;
	
	&-brand {
		display:flex;
		align-items: center;
		img {
			display: block;
			width: 100%;
		}
		;
	}
	&-nav {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display:flex;
		padding-bottom: 43px;
		padding-top: 43px;
		
	}
	&-item {
		padding-left: 20px;
		&:first-child{
			padding-left: 0;
		}
	}
	&-link {
		color:#555;
		text-decoration:none;
	}
	&-toggler {
		
		@media all and (min-width: $navbar-breakpoint)  {
			display: none;
		}
	}
	&-collapse {
		
		@media all and (max-width: ($navbar-breakpoint - 1px))  {
			display: none;
		}
	}
}

