$navbar-breakpoint: 768px;
#navigation{
        position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 60;
}
.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    &-brand {
        position: absolute;
        top: 20px;
        left: 47%;
        @media screen and( max-width: $navbar-breakpoint) {
            position: static;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 20px;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    &-nav {
        list-style: none;
        margin: 0;
        padding-left: 0;
        padding-bottom: 43px;
        padding-top: 43px;
        @media screen and( max-width: $navbar-breakpoint) {
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    &-item {
        display: inline-block;
        padding-left: 30px;

        &:first-child {
            padding-left: 0;
            @media screen and( max-width: $navbar-breakpoint) {
                padding-left: 30px;
                margin-top: 5px;
            }
        }
    }
    &-link {
        position: relative;
        color: $third-color;
        font-family: $global-font-family;
        font-size: 17px;
        font-weight: 400;
        text-decoration: none;
        padding-bottom: 5px;

        &:hover {
            color: #5363db;

            &::before,
            & ::after {
                position: absolute;
                top: 100%;
                left: 30%;
                width: 40%;
                height: 1px;
                background: #5363db;
                content: '';
                -webkit-transition: -webkit-transform 0.3s;
                -moz-transition: -moz-transform 0.3s;
                transition: transform 0.3s;
                -webkit-transform: scale(0.85);
                -moz-transform: scale(0.85);
                transform: scale(0.85);
            }
        }
    }

    &-toggler {
        display: block;
        padding: 7px 5px 5px;
        border: 1px solid $first-color;
        border-radius: 2px;
        width: 42px;
        height: 32px;
        margin-top: 35px;
        margin-right: 20px;
        @media screen and( max-width: 768px) {
                   margin-top: 20px;
        margin-right: 10px;
                }
        .ico-bar {
            display: block;
            width: 30px;
            border-top: 2px solid $first-color;
            height: 3px;
            margin-bottom: 4px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media all and (min-width: $navbar-breakpoint) {
            display: none;
        }
    }
    &-collapse {
        @media screen and( min-width: $navbar-breakpoint) {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        &.collapse {
            display: block;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and( max-width: $navbar-breakpoint) {
                margin-top: 100px;
                margin-bottom: 30px;
            }
            .navbar-nav {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            @media all and (min-width: $navbar-breakpoint) {
                display: flex;
                .navbar-nav {
                    flex-direction: row;
                }
            }
        }

        @media all and (max-width: ($navbar-breakpoint - 1px)) {
            display: none;
        }
    }
}