$global-primary-background:    #1e87f0;
$global-secondary-background:  #222;

$global-success-background:    #32d296;
$global-warning-background:    #faa05a;
$global-danger-background:     #f0506e;

$global-font-family:          'Open Sans', sans-serif;
$global-font-size:             14px;
$global-line-height:           1.46;

$primery-color:                #5464db;
$global-color:                 #777777;
$third-color:                  #555555;
$fourth-color:                 #999999;
$global-link-color:            $global-primary-background;
$global-link-hover-color:      lighten($global-primary-background, 10%);










