<header class="header">
            <div class="header">
                <div class="container">
                    <div class="header-top">
                        <nav class="navbar">
                            <div class="navbar-left">
                                <div class="navbar-collapse">
                                    <ul class="navbar-nav">
                                        <li class="navbar-item"><a href="index.html" class="navbar-link">About us</a></li>
                                        <li class="navbar-item"><a href="AboutUs.html" class="navbar-link"> Reservation </a></li>
                                        <li class="navbar-item"><a href="Pricing.html" class="navbar-link">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="navbar-brand">
                                <a href="#"><img src="images/logo.png" alt="Wapik logo"></a>
                            </div>
                            <div class="navbar-righht">
                                <div class="navbar-collapse">
                                    <ul class="navbar-nav">
                                        <li class="navbar-item"><a href="index.html" class="navbar-link">Blog</a></li>
                                        <li class="navbar-item"><a href="AboutUs.html" class="navbar-link">Elements</a></li>
                                        <li class="navbar-item"><a href="Pricing.html" class="navbar-link">shop</a></li>
                                        
                                        

                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <section class="header-bottom background-blue section-inverse">
                    <div class="section-overlay" style="background-image: url(images/matthew-kane-94147.png);">
                        <div class="container">
                            <div class="header-bottom-holder">
                                <div class="col-left">
                                    <form>
                                        <div class="form">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-right">
                                    <div class="header-bottom-body">
                                        <div class="header-bottom-body-title">
                                            Just Balance your Mind & Body
                                        </div>
                                        <div class="header-bottom-body-discription">
                                            Create the healthy living for yourself
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </header>