.card {
  padding-bottom: 201px; }
  @media screen and (max-width: 970px) {
    .card {
      padding-bottom: 100px; } }
  @media screen and (max-width: 768px) {
    .card {
      padding-bottom: 50px; } }
  @media screen and (max-width: 450px) {
    .card {
      padding-bottom: 20px; } }
  .card-body {
    z-index: 50;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 206px; }
    @media screen and (max-width: 768px) {
      .card-body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 75px;
        padding-bottom: 55px;
        margin-bottom: 0; } }
  .card-title {
    padding-bottom: 35px; }
  .card-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    padding-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .card-item {
        min-width: 300px;
        margin: 0 auto;
        margin-bottom: 30px; } }
    .card-item:last-child {
      margin-right: 0; }
      @media screen and (max-width: 768px) {
        .card-item:last-child {
          margin: 0 auto; } }
    .card-item-heading {
      -ms-flex-order: -1;
      order: -1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      background-color: #5b6ceb;
      border-radius: 10px 10px 0 0; }
    .card-item-dollor {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
      vertical-align: middle;
      padding-right: 21px; }
    .card-item-holder {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 77px;
      padding-right: 77px; }
      @media screen and (max-width: 1198px) {
        .card-item-holder {
          padding-left: 35px;
          padding-right: 35px; } }
    .card-item-price {
      font-family: "Open Sans", sans-serif;
      color: #ffffff;
      font-size: 67px;
      font-weight: 700;
      line-height: 75.77px;
      text-transform: uppercase;
      padding: 50px 0; }
      @media screen and (max-width: 1198px) {
        .card-item-price {
          font-size: 47px;
          line-height: 45.77px; } }
    .card-item-month {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }
    .card-item-discription {
      color: #83a7a5;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      padding: 25px 0; }
    .card-item-text {
      display: block;
      color: #555555;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 48px;
      text-transform: uppercase; }
      @media screen and (max-width: 1188px) {
        .card-item-text {
          font-size: 14px; } }
      @media screen and (max-width: 970px) {
        .card-item-text {
          font-size: 12px; } }
    .card-item .line {
      position: relative; }
      .card-item .line:before {
        position: absolute;
        content: '';
        border: 1px solid #d7d7d7;
        width: 100px;
        top: 46px;
        left: 26%; }
        @media screen and (max-width: 1198px) {
          .card-item .line:before {
            width: 55px;
            left: 35%; } }
        @media screen and (max-width: 970px) {
          .card-item .line:before {
            width: 50px; } }
