<footer class="footer">
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-item">
                    <div class="footer-item-title">About</div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.</div>
                    <div class="social">
                        <div class="social-ico">
                            <a href="#" class="social-ico-link"><span class="icon-pinterest"></span></a>
                        </div>
                        <div class="social-ico">
                            <a href="#" class="social-ico-link"><span class="icon-twitter"></span></a>
                        </div>
                        <div class="social-ico">
                            <a href="#" class="social-ico-link"><span class="icon-facebook"></span></a>
                        </div>
                        <div class="social-ico">
                            <a href="#" class="social-ico-link"><span class="icon-google-plus"></span></a>
                        </div>
                        <div class="social-ico">
                            <a href="#" class="social-ico-link"><span class="icon-instagram"></span></a>
                        </div>
                    </div>
                </div>
                <div class="footer-item-row">
                    <div class="footer-item">
                        <div class="footer-item-title ">CONTACT US</div>
                        <div class="address">5419 Joseph Mountains
                            <br>Apt. 716</div>
                        <div class="phone">+1 234 567 89
                            <br> +1 234 678 90</div>
                    </div>
                    <div class="footer-item">
                        <div class="footer-item-title text-transparent">CONTACT US</div>
                        <div class="email">joga.info@example.com</div>
                        <div class="planet">www.example.com</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-holder">
                <div class="footer-bottom-holder-copyright">Copyright © 2016-2017 Yoga classes</div>
                <div class="footer-bottom-holder-logo">
                    <img src="images/3-layers.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</footer>